apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: clusterchess-backend-ig
  namespace: clusterchess-backend
spec:
  entryPoints:
    - websecure
  tls:
    secretName: clusterchess-backend-tls
  routes:
    - match: Host(`api.clusterchess.fdero.com`)
      kind: Rule
      middlewares:
        - name: backend-http-https-redirect
        - name: clusterchess-backend-session
      services:
        - name: clusterchess-backend-sv
          port: 80