image:
  registry: docker.io
  repo: fdero/clusterchess-backend
  tag: latest

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi

replicas:
 min: 2
 max: 3